<div id="container">
	<main>
		<div id="app">
			<div id="background"></div>
			<section class="hero">
				<div class="wrapper">
					<h1 class="title">Spannend-<span class="bg-span">Abend</span> Finder</h1>
					<p class="desc">Finde den besten Film für heute Abend!</p>
				</div>
				<div class="slider">
					<div *ngIf="sliderLoading" class="loading">Loading...</div>
					@for(movie of (!sliderLoading ? movieList : []); track movie; let i = $index) {
						<div (click)="changeSlide(i)" class="poster-wrapper" [ngClass]="{'center': i === currentSliderIndex, 'left': i === currentSliderIndex - 1, 'right': i === currentSliderIndex + 1, 'disappear': i !== currentSliderIndex && i !== currentSliderIndex - 1 && i !== currentSliderIndex + 1}">
							<img class="poster" [src]="movie.poster" alt="" />
							<!-- <button class="poster-btn" [ngClass]="{'btn-show': i === currentSliderIndex, 'btn-disappear': i !== currentSliderIndex, 'btn-last': i === movieList.length-1}" [ngStyle]="{'right': i === movieList.length-1 ? '27%' : '21%'}"> {{ i === movieList.length-1 ? "Klicke!" : "Mehr Info" }}</button> -->
						</div>
					}
				</div>
			</section>
			<section class="genre-section">
				<div class="wrapper">
					<h1>Bevorzugst du ein bestimmtes Genre?</h1>
				</div>
				<ul class="genre-list">
					<div *ngIf="genreLoading" class="loading">Loading...</div>
					@for(genre of (!genreLoading ? genreList : []); track genre; let i = $index) {
						<li (click)="changeGenre(genre)" class="genre-name" [ngClass]="{'active' : genre === currentGenre}">{{ genre.name }}</li>
					}
				</ul>
			</section>
			<!-- <section class="movie-details">
				<div class="wrapper">
					<img *ngIf="movieList.length > 0 && movieList[currentSliderIndex]" class="poster" [src]="movieList[currentSliderIndex].poster" alt="">
				</div>
			</section> -->
		</div>
	</main>
</div>